.header {
  border-bottom: 1px solid #ddd;
  font-size: 3rem;
}

.nav-item-icon {
  color: $color-text-muted;
  font-size: 30px;
  line-height: 50px;
  display: inline-block;
  width: 60px;
}

.nav-item-current .nav-item-icon {
  color: inherit;
}

.nav-item-img {
  height: 30px;
  margin: 10px 15px;
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}

.nav-item-current .nav-item-img {
  -webkit-filter: grayscale(0); /* Chrome, Safari, Opera */
  filter: grayscale(0);
}

.nav-item-current .nav-item-link {
  border-bottom: 3px solid $color-text-link;
  margin-bottom: -2px;
}
